body{
	max-width: 750px;
	margin: 0px auto;
	font-family: 'Montserrat','Avenir Next','Arial','Helvetica',sans-serif;
	line-height: 1.55em;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 40px;
}
#graph{
	margin: 0px;
	font: 12px monospace;
	font-weight: bold;
	background: #F5F5F5;
	width: 980px;
	margin-left: -105px;
	padding-left: 25px;
}
     .for {
        stroke: #377eb8;
        fill: none;
        /*fill-opacity: .4;*/
     }

     .against {
        stroke: #e31a1c;
        fill: none;
        /*fill-opacity: .4;*/
     }
svg{
	overflow: visible;
}

.anno{
	stroke: black;
}

.score-line{
	fill: none;
	stroke: #607D8B;
	stroke-width: 2px;
}

.area{
	fill: #fcbba1;
}

path.domain{
	display: none;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text{
	fill: #bbb;
}
.x.axis line{
	stroke: #ddd;
}

.y.axis line{
	display: none;
}


.zero{
	stroke: #ddd;
}

.name{
	text-shadow: 0 2px 0 #fff, 2px 0 0 #fff, 0 -2px 0 #fff, -2px 0 0 #fff;
	fill: black;
}

.game{
	width: 245px;
	display: inline-block;
	padding-bottom: 25px;
	position: relative;
}

.game div{
	font-size: 12px;
	text-align: center;
	display: block;
	font-weight: 500;
	/*background: rgba(0,0,0,0);*/
}
.game .date{
	position: absolute;
	left: 20px;
	top: 6px;
	color: #555;
	/*z-index: -1;*/

}
.game div.team{
	font-size: 18px;
	font-weight: bold;
	position: relative;
	/*width: 100px;*/
}
.game .score{
	position: absolute;
	right: 40px;
	top: 6px;
	color: #555;
}


path.hover{
	stroke: #555;
	stroke-dasharray: 4 2 2 2;
}
text.hover{
	fill: #555;
}
.neg path.hover{
	stroke: #006BB6;
	stroke-dasharray: 4 2 2 2;
}
.neg text.hover{
	fill: #006BB6;
}